/*killing the defaults*/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/*general stuff*/
/* body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100;
    background-image: url(../imgs/screenfix.png);
    background-size: 1200px;
    background-repeat: repeat;
} */

/*dividing page in grid-areas; naming grid items by using the shorthand property
GRID-AREAS; allows to specify where to place an item*/



.gridAbts {
    grid-area: gridAbt;
}


.gridContainer {
    display: grid;
    overflow: hidden;
    /*grid-template-columns: repeat(4, auto);*/
    grid-template-areas:
        'gridAbt gridAbt gridAbt gridAbt'
        'gridArt gridArt gridPic gridPic';
    grid-template-rows: 25% 25% 25% 25%;
    grid-gap: 5px;
    height: calc(100vh - 2rem);
    width: 100vw;
    background-image: url(../imgs/colorbackground1.png);
    background-size: cover;
    background-position: top;
    position: relative;
}

@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .gridContainer {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
        height: 148vh;
    }
}

@media only screen and (max-width: 37.5em) {
    .gridContainer {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 42vh, 0 100%);
    }
}

.gridAbts {
    grid-area: 'gridAbt';
    text-align: center;
    width: 100%;
    margin-top: 3px;
    padding-top: 10px;
}

.headingPrimary {
    color: #c1e9fa;
    grid-area: 'gridAbt';
    grid-template-columns: 100%;
    font-size: 2rem;
    padding-top: 30px;
}

.headingAbout {
    color: #c1e9fa;
    grid-area: 'gridAbt';
    grid-template-columns: 100%;
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 15px;
    text-align: center;
    display: inline-flex;
    letter-spacing: .2rem;
    transition: all .2s;
}

@media only screen and (max-width: 56.25em) {
    .headingAbout {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .headingAbout {
        font-size: 2.5rem;
    }
}

.headingAbout:hover {
    transform: skewY(2deg) skewX(30deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.headingSec{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    height: 100%;
    letter-spacing: .2rem;
    transition: all .2s;
    padding: 10px;
    margin: 5px;
}

.headingSecondary{
    color: #4d4d4d;
    display: grid;
    /*grid-area:*/
    grid-template-columns: 100%;
    grid-column-start: span 2;
    grid-row-start: auto;
    font-size: 2rem;
    font-weight: 800;
    justify-self: center;
    text-transform: uppercase;
}

/* @media only screen and (max-width: 56.25em) {
    .headingSec {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 37.5em) {
    .headingSec {
        font-size: 2.5rem;
    }
} */

.headingSec h3:hover {
    /*transform: skewY(2deg) skewX(30deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);*/
    color:#7300bf;
}

/*******CARD HOVER STYLE PICTURE*****/

.containerCard .card{
    position: relative;
    display: inline-grid;
    grid-area: 'gridAbt';
    width: 600px;
    height: 400px;
    margin: 11px;
}

.containerCard .card .face{
    transition: 0.5s;
}

.containerCard .card .face.face1{
    position: relative;
    display: grid;
    grid-area: 'gridPic';
    justify-content: center;
    align-items: center;
    z-index: 3;
    transform: translateX(600px);
}

.containerCard .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    margin: 10px;
    padding: 5px;
}

.containerCard .card:hover .face.face1 .content{
    opacity: 1;
}

.containerCard .card .face.face1 .content img{
    width: 1200px;
    height: auto;
}

/******************FACE 2*****************/

.containerCard .card .face.face2 {
    
    position: relative;
    /*background-image: url(../imgs/screenfix.png);*/
    /*background-color:  #c1e9fa;*/
    background-size: 1200px;
    background-repeat: repeat;
    display: grid;
    grid-area: gridAbt;
    justify-content: center;
    align-items: center;    
    box-sizing: border-box;
    transform: translateY(-525px);
    padding: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 20px;
    height: 100%;
}
.containerCard .card .face.face2 .content p{
    transform: translateY(100vh);
    transition: transform 1s;
}
.containerCard .card:hover .face.face2 .content p{
    transform: translateY(0);
}

.containerCard .card .face.face2 .content {
    margin: 10px;
    padding: 5px;
    height: 200px;
    width: 400px;
    text-align: center; 
    grid-area: 'gridArt';
}

/* Main text */
.containerCard .card .face.face2 .content p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 200;
    color:  #c1e9fa;
}

.gridPic {
    grid-area: 'gridPic';
    margin: 10px;
    padding: 2px;
}

.gPic {
    grid-area: 'gridPic';
    margin: 10px;
    padding: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 30px;
}

.containerSmallCards {
    width: 100%;
    height: 50px;
    margin: 15px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.containerSmallCards .card{
    position: relative;
    margin-right: 5px;
}

.containerSmallCards .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 5px;
    /*margin: 10px;
    padding: 5px;*/
}

.containerSmallCards .card .face.face1{
    position: relative;
    background:#4d4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.containerSmallCards .card:hover .face.face1{
    background-color: #7300bf;
    transform: translateY(0);
}


.containerSmallCards .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    margin: 10px;
    padding: 5px;
}

.containerSmallCards .card:hover .face.face1 .content{
    opacity: 1;
}

.containerSmallCards .card .face.face1 .content img{
    max-width: 100px;}

    .containerSmallCards .card .face.face1 .content h3{
        margin: 10px 0 0;
        padding: 0;
        color: #c1e9fa;
        font-weight: 800;
        text-align: center;
        font-size: 1.5em;
    }
    
    .containerSmallCards .card .face.face2{
        position: relative;
        background-image: linear-gradient(to bottom left, #0098A8, #7300bf);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
        transform: translateY(-100px);
    }
    
    .containerSmallCards .card:hover .face.face2{
        transform: translateY(0);
    }
    
    .containerSmallCards .card .face.face2 .content p{
        margin: 0.5rem;
        padding: 0.5rem;
        color: #c1e9fa;
        font-size: 1rem;
        line-height: 1.2rem;
        letter-spacing: 0.2rem;
        font-weight: 400;
        text-align: center;
    }

    /***************MAKING RESPONSIV *************/

/*@media only screen and (max-width: 1024px){
    .gridContainer {
    display: grid;
    overflow: hidden;
    grid-template-areas:
        'gridAbt gridAbt'
        'gridArt gridArt';
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
    height: calc(100vh - 2rem);
    width: 100vw;
    background-image: url(../imgs/colorbackground1.png);
    background-size: cover;
    background-position: top;
    position: relative;

    }
}*/

@media only screen and (max-width:1024px){
    #sectionAbout{
        margin-top: 500px;
    }
}

@media only screen and (max-width:787px){

    #sectionAbout{
        margin-top: 600px;
    }

    .gridContainer{
        clip-path: none;
        grid-template-rows:100%;
        overflow: visible;
        height: auto;
        display: block;
        background-repeat: repeat-y;
    }
.containerCard .card .face.face2 .content p{
transform: none;
width:80% ;
text-overflow: ellipsis;
height: 200px;
overflow: hidden;
/* white-space:nowrap; */
    }
    .containerCard .card .face.face2{
        display: block;
    }
    .containerCard .card{
        display: block;
        width: 90%;
    }
    .containerCard .card .face.face1{
        transform: none;
    }
    .containerCard .card .face.face2{
        transform: translateY(-450px);
        padding: 0;
    }
    .containerCard .card{
        margin: 0;
    }
    .containerCard .card .face.face2 .content{
        padding: 0;
        margin: 0;
    }


    .containerSmallCards{
        width: 50%;
    }
    .containerSmallCards .card .face.face1{
        position: relative;
        background:#4d4d4d;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
    }
    
}

