/*killing the defaults*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general stuff*/
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-image: url(../imgs/screenfix.png);
    background-size: 1200px;
    background-repeat: repeat;
}


:root {
    --maincolor: #4d4d4d;
    --subcolor: #1f3c49;
    --bgcolor: #d8dd0a;
    font-family: 'Courier New', Courier, monospace;
}
.about{
    margin-top: 500px;
    width: 100vw;
    height: 100vh;

}

.about > h3{
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
    font-size: 2rem;
    background-image: linear-gradient(to bottom left, #0098a8, #7300bf);
    
}

.members {
    display: grid;
    grid-template-columns: 25% 25% 25% auto;
    grid-row-gap: 20px;
    justify-content: center
    
}

.members div span{
    font-size: 1.25rem;
}

.members > h4{
    text-transform: uppercase;
    width:63%;
    grid-column: 2/5;
    margin: 5px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 5px;
    text-align: center;
    font-size: 3rem;
    color: #4d4d4d;
    /* background-image: linear-gradient(to bottom left, #0098a8, #7300bf); */
    height: 2rem
}

.members > h4:hover{
    color: #7300bf;
}

.members > div:nth-child(2){
    grid-column: 2/3;
      
}
.members > div:nth-child(3){
    grid-column: 3/5
}
.members > div{
    text-align: center;
    display: block;
    width: 20rem;
    color: var(--maincolor);
    padding: 10px 10px 20px 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: white;
    position: relative;
    font-size: 1rem;
}
.members > div > .tip{
    visibility: hidden;
    position: absolute;
    
    left: 5%;
    width: 90%;
    background-color: #ddd;
    border-top: 2px solid #fff;
    border-bottom: 3px solid #fff

}
.members > div > img{
    margin: 0 0 15px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
}

.members > div:hover{
    cursor: pointer;
    box-shadow: 5px 5px 5px 5px rgba(71, 73, 73, 0.25);
    z-index: 3;
}
.members > div:hover > .tip{
    visibility: visible;
    top: 70%;
    opacity: .7;
    animation: ani1 .5s linear


}
.members > div:hover > p{
    display: block
}
.members > div:hover > .tip > a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .75rem;
    line-height: 1.5rem
}
.members > div > .tip > a:hover{

    background-color: var(--bgcolor);
    font-weight: bold;
    font-size: .8rem;
    border-radius: 10px;
    color: #1f3c49
    
}
@keyframes ani1{
    0%{
        top: 0%;
    }
    100%{
        top: 70%;
    }
}
@media only screen and (max-width:1024px) {/*for Tablets*/

    .members {
        display: grid;
        grid-template-columns: 50%  50%;
        grid-row-gap: 20px;
        justify-content: center;
        justify-items: center /*for h4*/
        
    }
    .members > h4{
       
        width:75%;
        grid-column: 1/3;
        margin: 5px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding: 5px;
        text-align: center;
        font-size: 2.5rem;
        color: #4d4d4d;
        /* background-image: linear-gradient(to bottom left, #0098a8, #7300bf); */
        height: 2rem
    
    
    }
    .members > div:nth-child(2){
        grid-column: 1/2;
          
    }
    .members > div:nth-child(3){
        grid-column: 2/3
    }

}

@media(max-width:767px) {/*for mobile phone*/
    .members {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
        justify-content: center;
        justify-items: center /*for h4*/
        
    }
    .members > h4{
        /* text-transform: capitalize; */
        width:75%;
        grid-column: 1/2;
        margin: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        padding: 5px;
        text-align: center;
        font-size: 3rem;
        color: #4d4d4d;
        /* background-image: linear-gradient(to bottom left, #0098a8, #7300bf); */
        height: 2rem
    
    
    }
    .members > div:nth-child(2){
        grid-column: 1/3;
        width: 100vw !important;
    }
    .members > div:nth-child(3){
        grid-column: 1/3;
        width: 100vw !important;
    }

    .participant{
        grid-column: 1/3;
        width: 100vw !important;
    }

    .members > div > .tip{
        visibility: visible;
        top: 85%;
        opacity: 0.7;
        font-size: 2rem;
        background-color: #d8dd0a;
        animation: ani1 .5s linear
    }

    .members > div > .tip a{
        color: #1f3c49;
    }
    
    @keyframes ani1{
        0%{
            top: 0%;
        }
        100%{
            top: 85%;
        }
        }
}

